<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscars</title>
</head>
<body>
    <h1>Bienvenido a la API de ganadores de los Oscar</h1>
    <p>Puedes consultar:</p>
    <ul>
        <li><a>Lista de años disponibles</a></li>
        <li><a>Premios 2011</a></li>
        <li>...</li>
        <li><a>Premios 2015</a></li>
    </ul>
    <p>También puedes añadir premios a un año en concreto (por ejemplo 2011) haciendo post a:</p>
    <ul>
        <li><a>/oscars/2011</a></li>
    </ul>
    <p>Y mandando el body correspondiente</p>
    <p>{ "category": "ACTRESS IN LEADING ROLE", "entity" : "Meryl Streep" }</p>

    <p>Para consultar en un año que película o actores se llevaron más de un 1 premio </p>
    <ul>
        <li><a>Lista de ganadores múltiples(2011)</a></li>
        <li><a>...</a></li>
        <li><a>Lista de ganadores múltiples(2015)</a></li>
    </ul>

</body>
</html>